section {
  display: flex;
  justify-content: center;
  margin: 70px 0 60px;
  > :first-child {
    width: 40%;
    margin-right: 7%;

    .section-title {
      color: #E81C2E;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 4px;

      &::after {
        content: " ";
        border: 1px solid #E81C2E;
        display: block;
        width: 97px;
      }
    }

    .section-description {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 45px;
      margin-bottom: 30px;
      white-space: nowrap;
    }

    .locations-grid {
      display: grid;
      grid-template: repeat(2, 150px) / repeat(2, 50%);
      > div {
        height: 100%;
        display: flex;
        i {
          font-size: 20px;
          color: #E81C2E;
          margin-right: 7px;
        }
        h3{
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          margin-bottom: 3px;
          font-weight: 400;
        }
      }
    }
  }

  > :last-child {
    width: 25%;
    background-color: red;
    padding: 20px 30px;
    border-radius: 5px;
    h3 {
      color: #FFFFFF;
      font-size: 25px;
      font-weight: 700;
      margin: 20px 0;
      text-align: center;

    }

    form {
      width: 100%;
      margin: 30px 0;
      * {
        width: 100%;
        display: block;
        outline: none;
        margin: 10px 0;
        background-color: #E81C2E;
      }
      input {
        border: 1px solid #FFFFFF;
        height: 45px;
        background-color: #E81C2E;
        border-radius: 5px;
        color: #FFFFFF;
        padding: 10px;

        &::placeholder {
          color: #FFFFFF;
        }
      }

      textarea{
        border-radius: 5px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background-color: #E81C2E;
        height: 90px;
        padding: 10px;
        &::placeholder {
          color: #FFFFFF;
        }
      }

      app-button {
        margin-top: 30px;
      }

    }
  }
}
