.section-body {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0;
  width: 72%;
  > :first-child {
    align-items: flex-start;
    background-color: #202C45;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    padding: 30px 40px;
    width: 34%;
    h2 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 34px;
    }

    .contact-info-box {
      display: flex;
      width: 80%;
      > :first-child {
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 100%;
        color: #202C45;
        display: flex;
        font-size: 20px;
        height: 60px;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 15px;
        width: 60px;
      }

      > :last-child {
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  > :last-child {
    width: 55%;
    form {
      display: flex;
      flex-direction: column;
      input, textarea {
        border-radius: 5px;
        border: 1px solid #202C45;
        color: #495057;
        margin-bottom: 10px;
        outline: none;
        padding: 10px 20px;
      }

    }
  }
}
