<app-page-nav
  title="Contact Us"
  [items]="[{ label: 'home', link: '' }, { label: 'Contact', link: '' }]"
></app-page-nav>
<app-section-template title="Get In Touch" description="Contact For Any Query">
  <div class="section-body">
    <div>
      <h2>Quick Contact Info</h2>
      <div class="contact-info-box">
        <div><i class="far fa-clock"></i></div>
        <div class="contact-info-box-text">
          <h3>Opening Hour</h3>
          <p>Mon - Fri, 8:00 - 9:00</p>
        </div>
      </div>
      <div class="contact-info-box">
        <i class="fa fa-phone-alt"></i>
        <div class="contact-info-box-text">
          <h3>Call Us</h3>
          <p>+012 345 6789</p>
        </div>
      </div>
      <div class="contact-info-box">
        <div><i class="far fa-envelope"></i></div>
        <div class="contact-info-box-text">
          <h3>Email Us</h3>
          <p>info@example.com</p>
        </div>
      </div>
    </div>
    <div>
      <form action="">
        <input type="text" placeholder="Your Name">
        <input type="text" placeholder="Your Email">
        <input type="text" placeholder="Subject">
        <textarea name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
        <app-button
          defaultBackgroundColor="#E81C2E" animatedBackgroundColor="#202C45"
          defaultTextColor="#FFFFFF" animatedTextColor="#E81C2E"
        >Send Message</app-button>
      </form>
    </div>
  </div>
</app-section-template>
