section {
  display: flex;
  flex-direction: column;
  align-items: center;

  > :first-child {
    color: #E81C2E;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 16px;
    &::after {
      content: " ";
      width: 45%;
      margin: 1px auto;
      display: block;
      border: 1px solid #E81C2E;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 45px;
  }


  .grid-container {
    display: grid;
    grid-template: repeat(2, 250px) / repeat(4, 23%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    column-gap: 1%;
    .grid-item {
      i{
        font-size: 75px;
      }
      h3 {
        margin: 10px 0;
        font-size: 25px;
        font-weight: 700;
      }
    }

  }
}
