section {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
    .section-title {
      color: #E81C2E;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 4px;

      &::after {
        content: " ";
        border: 1px solid #E81C2E;
        display: block;
        width: 80px;
        margin: auto;
      }
    }

    .section-description {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 45px;
      margin-bottom: 30px;
      text-align: center;
    }


}

.staff-cards {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: center;

  > * {
    width: 16%;
    margin-right: 45px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
