<h2>Leave a comment</h2>
<form action="">
  <div class="comment-input-group">
    <label for="Name">Name *</label>
    <input type="text" name="Name" id="Name">
  </div>
  <div class="comment-input-group">
    <label for="Email">Email *</label>
    <input type="text" name="Email" id="Email">
  </div>
  <div class="comment-input-group">
    <label for="Website">Website</label>
    <input type="text" name="Website" id="Website">
  </div>
  <div class="comment-input-group">
    <label for="Message">Message *</label>
    <textarea name="Message" id="Message" cols="30" rows="5"></textarea>
  </div>
  <div class="comment-input-group">
    <app-button>Post Comment</app-button>

  </div>
</form>
