<div class="card-body">
    <img src="assets/img/user.jpg" alt="">

  <h3>Author Name</h3>
  <p>
    Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien,
    non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst.
  </p>
  <div class="social-media-links">
    <a href="">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>
