section {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .section-title {
    color: #E81C2E;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;

    &::after {
      content: " ";
      border: 1px solid #E81C2E;
      display: block;
      width: 80px;
      margin: auto;
    }
  }

  .section-description {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
  }

  .articles {
    width: 73%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    > * {
      margin: 0 5px;
      width: 33.33%;

    }
  }

}
