<section>
  <div>
    <p>Washing Points</p>
    <h2>Car Washing & Care Points</h2>
    <div class="locations-grid">
      <div>
        <i class="fa fa-map-marker-alt"></i>
        <div>
          <h3>Car Washing Point</h3>
          <p>123 Street, New York, USA</p>
          <p><Strong>Call: </Strong> +012 345 6789</p>
        </div>
      </div>
      <div>
        <i class="fa fa-map-marker-alt"></i>
        <div>
          <h3>Car Washing Point</h3>
          <p>123 Street, New York, USA</p>
          <p><Strong>Call: </Strong> +012 345 6789</p>
        </div>
      </div>
      <div>
        <i class="fa fa-map-marker-alt"></i>
        <div>
          <h3>Car Washing Point</h3>
          <p>123 Street, New York, USA</p>
          <p><Strong>Call: </Strong> +012 345 6789</p>
        </div>
      </div>
      <div>
        <i class="fa fa-map-marker-alt"></i>
        <div>
          <h3>Car Washing Point</h3>
          <p>123 Street, New York, USA</p>
          <p><Strong>Call: </Strong> +012 345 6789</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>Request for a car wash</h3>
    <form action="">
      <div>
        <input type="text" placeholder="Name">
      </div>
      <div>
        <input type="text" placeholder="Email">
      </div>
      <div>
        <textarea placeholder="Description"></textarea>
      </div>
      <app-button>Send Request</app-button>

    </form>
  </div>


</section>
