.nav-body {
  background-color: #202C45;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px dotted #FFFFFF;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  h2 {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1.1;
    &::after {
      content: ' ';
      border: 1px solid #FFFFFF;
      width: 40%;
      margin: auto;
      display: block;
    }
  }
  .items {
    > * {
      text-transform: capitalize;
      color: #FFFFFF;
      text-decoration: none;
      font-size: 22px;
      transition: 0.3s;

      &:hover {
        color: #E81C2E;
      }

      &:not(:last-child)::after  {
        content: "/";
        margin: 0 7px;
        color: #FFFFFF;
      }
    }
  }

}
