<div class="article-card">
  <div>
    <img src="assets/img/post-1.jpg" alt="">
    <div class="date-circle">test </div>
  </div>
  <div class="card-body">
    <h3>
      <a href="">
        Lorem ipsum dolor sit amet
      </a>
    </h3>
    <p>
      Lorem ipsum dolor sit amet elit. Pellent iaculis blandit lorem,
      quis convall diam eleife. Nam in arcu sit amet massa ferment quis enim.
      Nunc  augue velit metus congue eget semper
    </p>
    <div class="extra">
      <p>
        <a href="#">
          <i class="fa fa-user"></i>
          Admin
        </a>
      </p>
      <p>
        <a href="#">
          <i class="fa fa-folder"></i>
          Web Design
        </a>
      </p>
      <p>
        <a href="#">
          <i class="fa fa-comments"></i>
          15 Comments
        </a>
      </p>
    </div>
  </div>
</div>
