.article-card {

  display: flex;
  flex-direction: column;
  > :first-child {
    overflow: hidden;
    position: relative;
    height: 50%;
    img {
      width: 100%;
      border-radius: 5px;
      height: 100%;
      object-fit: cover;
    }
    .date-circle {
      background-color: #202C45;
      border-radius: 100%;
      display: flex;
      color: white;
      flex-direction: column;
      height: 70px;
      justify-content: center;
      left: 50%;
      line-height: 1.2;
      position: absolute;
      text-align: center;
      top: 100%;
      opacity: 0;
      transform: translate(-50%, -50%);
      width: 70px;
      transition: 0.5s;
      span {
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 400;

      }
      strong {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
    &:hover {
      .date-circle {
        top: 50%;
        opacity: 1;
      }
    }
  }
  > :last-child {
    margin: 15px 0 30px 0;
    padding: 0;

    a {
      color: #202C45;
      text-decoration: none;
    }
    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    > p {
      color: #444444;
      font-weight: 400;
      font-size: 14px;
      width: 94%;
      margin-bottom: 5px;
    }
    .extra {
      // TODO: adjus wrap for under 280 resolu
      display: flex;
      white-space: nowrap;
      p {
        a {
          color: #999999;
          border-left: 1px solid rgba(0, 0, 0, .15);
          padding-left: 7px;
          margin-left: 7px;
          font-size: 14px;
          i {
            margin-right: 2px;
          }

        }
        &:first-child {
         a {
           border-left: 0;
           margin-left: 0;
           padding-left: 2px;
         }
        }
      }
    }
  }
}
