@media screen and (max-width: 1199px) {
  .plans {
    padding: 0;
    > * {
      width: 33.33%;
    }
  }
}

@media screen and (max-width: 767px) {
  .plans {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    > * {
      width: 60%;
    }
  }
}

@media screen and (max-width: 575px) {
  .plans {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    > * {
      width: 90%;
    }
  }
}
