<app-section-template title="Washing Plan" description="Choose Your Plan">
  <div class="plans">
    <app-plan-box
      [boxType]="'secondary'"
      [title]="'Basic Cleaning'"
      [price]="25"
      [list]="[
        { label: 'Seats Washing', state: true },
        { label: 'Vacuum Cleaning', state: true },
        { label: 'Exterior Cleaning', state: true },
        { label: 'Interior Wet Cleaning', state: false },
        { label: 'Window Wiping', state: false }
      ]"
    ></app-plan-box>
    <app-plan-box
      [boxType]="'main'"
      [title]="'Premium Cleaning'"
      [price]="35"
      [list]="[
        { label: 'Seats Washing', state: true },
        { label: 'Vacuum Cleaning', state: true },
        { label: 'Exterior Cleaning', state: true },
        { label: 'Interior Wet Cleaning', state: true },
        { label: 'Window Wiping', state: false }
      ]"
    ></app-plan-box>
    <app-plan-box
      [boxType]="'secondary'"
      [title]="'Complex Cleaning'"
      [price]="49"
      [list]="[
        { label: 'Seats Washing', state: true },
        { label: 'Vacuum Cleaning', state: true },
        { label: 'Exterior Cleaning', state: true },
        { label: 'Interior Wet Cleaning', state: true },
        { label: 'Window Wiping', state: true }
      ]"
    ></app-plan-box>
  </div>
</app-section-template>
