.carousel-box {
    position: relative;
    right: 15px;
    width: 80%;
    margin: auto;
    .slides {
        align-self: center;
        width: 100%;
        
        .slide {
            .leave {
                opacity: 1;
                transition: opacity 2s ease-out;
            }
            img {
                width: 100%;
            }
            .overlay {
                background-color: rgb(0, 0, 0, 0.12);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                .text {
                    text-align: center;
                    text-transform: uppercase; 
                    position: absolute;
                    top: 50%;
                    z-index: 2;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #FFFFFF;
                    h3 {
                        font-weight: 600;
                        color: #E81C2E;
                        font-size: 25px;
                        letter-spacing: 4px;
                    }
                    h1 {
                        font-weight: 700;
                        font-size: 65px;
                        white-space: nowrap;
                    }
                    p{
                        max-width: 70%;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 16px;
                    }
                    button {
                        background-color: #E81C2E;
                        color: #FFF;
                        padding: 12px 30px;
                        border-radius: 25px;
                        margin-right: 0;
                        transition: color ease-in 0.15s, background-color ease-in 0.15s;
                        border: none;
                        margin: auto;
                        width: 25%;
                    }
                    
                    .custom-button:hover {
                        background-color: #202C45;
                        color: #E81C2E;
                    }
                    
                }
            }
        }
    }


    .control {
        background-color: rgb(0, 0, 0, 0.3);
        border-radius: 50%;
        color: #FFF;
        cursor: pointer;
        font-size: 25px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color ease-in 0.2s;
        width: 50px;
        z-index: 1;

        &:hover {
            background-color: #E81C2E;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .fa-angle-left {
            right: 20px;
        }

        .fa-angle-right {
            left: 20px;
        }
    }

    .right-arrow {
        right: 10px;
    }

    .left-arrow {
        left: 10px;
    }
}


@media screen and (max-width: 1399px) {
    .carousel-box {
        width: 100%;
        right: 0;
    }
}