@media screen and (max-width: 1399px) {
    .carousel-box {
        width: 100%;
        right: 0;
        
    }
}

@media screen and (max-width: 991px) {
    .carousel-box {
        width: 100%;
        right: 0;
        .slides {          
            .slide {
                .overlay {
                    .text {
                        h3 {
                            font-size: 22px;
                        }
                        h1 {
                            font-size: 55px;
                        }
                        p{
                            font-size: 14px;
                        }
                        button {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .carousel-box {
        .slides {          
            .slide {
                .overlay {
                    .text {
                        h3 {
                            font-size: 18px;
                            letter-spacing: 3px;
                            margin-bottom: 5px;
                        }
                        h1 {
                            font-size: 43px;
                            margin-bottom: 5px;
                        }
                        p{
                            font-size: 12px;
                        }
                        button {
                            font-size: 14px;
                            width: 35%;
                        }
                    }
                }
            }
        }
    }   
}

@media screen and (max-width: 575px) {
    .carousel-box {
        .slides {          
            .slide {
                .overlay {
                    .text {
                        h3 {
                            font-size: 16px;
                            margin-bottom: 3px;
                        }
                        h1 {
                            font-size: 30px;
                            margin-bottom: 5px;
                        }
                        p{
                            font-size: 10px;
                            max-width: 90%;
                        }
                        button {
                            font-size: 12px;
                            width: 45%;
                        }
                    }
                }
            }
        }
    }   
}