<div class="carousel-box">
    <div class="control left-arrow" (click)="previousSlide()">
        <i class="fas fa-angle-left"></i>
    </div>
    <div class="slides">
        <div class="slide" *ngFor="let slide of slides; let i = index" >
                <img [src]="slide.src" *ngIf="currentSlide == i"  style="display: block;" @carouselAnimation >
                <div class="overlay">
                    <div class="text" *ngIf="currentSlide == i" @carouselAnimation>
                        <h3 class="service-name">
                            {{ slide.serviceName }}
                        </h3>
                        <h1>
                            {{ slide.promotionText }}
                        </h1>
                        <p>
                            {{ slide.text }}
                        </p>
                      <div class="btn-box">
                          <app-button
                              [defaultBackgroundColor]="'#E81C2E'" [animatedBackgroundColor]="'#202C45'"
                              [defaultTextColor]="'#FFFFFF'" [animatedTextColor]="'#E81C2E'"
                          >
                          Explore More</app-button>
                      </div>
                    <!-- TODO: fix button at resize -->
                    </div>
                </div>
        </div>
    </div>
        <div class="control right-arrow" (click)="nextSlide()" >
        <i class="fas fa-angle-right"></i>
    </div>
</div>
