<section>
  <p>What We Do</p>
  <h2>Premium Washing Service</h2>
  <div class="grid-container gradiant">
    <div class="grid-item">
      <i class="flaticon-car-wash-1 gradiant"></i>
      <h3>Exterior Washing</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
    <div class="grid-item">
      <i class="flaticon-car-wash gradiant"></i>
      <h3>Interior Washing</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
    <div class="grid-item">
      <i class="flaticon-vacuum-cleaner gradiant"></i>
      <h3>Vacuum Cleaner</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
    <div class="grid-item">
      <i class="flaticon-seat gradiant"></i>
      <h3>Seats Washing</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
    <div class="grid-item">
      <i class="flaticon-car-service gradiant"></i>
      <h3>Window Wiping</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
    <div class="grid-item">
      <i class="flaticon-car-service-2 gradiant"></i>
      <h3>Wet Cleaning</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
    <div class="grid-item">
      <i class="flaticon-car-wash gradiant"></i>
      <h3>Oil Changing</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
    <div class="grid-item">
      <i class="flaticon-brush-1 gradiant"></i>
      <h3>Brake Repairing</h3>
      <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
    </div>
  </div>
</section>

<!-- TODO: margin fix while small screen -->
