.about {
    display: flex;
    justify-content: center;
    margin: 80px 0;

    img {
        border-radius: 5px;

    }

    .content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 40px;
        > :first-child {
            text-transform: uppercase;
            color: #E81C2E;
            font-weight: 700;
            letter-spacing: 4px;
            padding-bottom: 4px;
            margin-bottom: 5px;
            font-size: 18px;
            span {
                border-bottom: #E81C2E 2px solid;
            }
        }
        h2 {
            font-weight: 700;
            font-size: 43px;
        }
        .text {
            max-width: 90%;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 20px;
            i {
                color: #E81C2E;
                margin-right: 7px;
            }
        }
        button {
            background-color: #E81C2E;
            color: #FFF;
            padding: 12px 30px;
            border-radius: 25px;
            margin-right: 0;
            transition: color ease-in 0.15s, background-color ease-in 0.15s;
            border: none;

        }

        .custom-button:hover {
            background-color: #202C45;
            color: #E81C2E;
        }
    }
}
