section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 45px;
  > :first-child {
    color: #E81C2E;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 16px;
    &::after {
      content: " ";
      width: 45%;
      margin: 1px auto;
      display: block;
      border: 1px solid #E81C2E;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 45px;
  }

  .plans {
    width: 100%;
    display: flex;
    margin: 35px 0;
    padding: 0 5%;
    justify-content: center;
    > * {
      width: 25%;
    }
  }



}
