.box-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  &.have-shadow {
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h2 {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    span {
      position: absolute;
      &:first-child {
        top: 12px;
        left: -20px;
      }
      &:last-child {
        top: 8px;
        right: -35px;
      }
    }

    strong {
      font-weight: 800;
      font-size: 60px;
    }

  }

  ul {
    list-style-type: none;
    line-height: 2.2;
    padding: 0;
    text-align: center;
    margin: 15px 0;

    i {
      margin-right: 10px;

      &.fa-times-circle {
        color: #cccccc;
      }
      &.fa-check-circle {
        color: #39B972;
      }
    }
  }

  app-button {
    margin-top: 18px;
  }
}
