<div class="box-body" [class.have-shadow]="shadow">
  <h3>
    Basic Cleaning
  </h3>
  <h2>
    <span>$</span>
    <strong>25</strong>
    <span>.99</span>
  </h2>
  <ul>
    <li>
      <i class="far fa-check-circle"></i>
      Seats Washing
    </li>
    <li>
      <i class="far fa-check-circle"></i>
      Vacuum Cleaning
    </li>
    <li>
      <i class="far fa-check-circle"></i>
      Exterior Cleaning
    </li>
    <li>
      <i class="far fa-times-circle"></i>
      Interior Wet Cleaning
    </li>
    <li>
      <i class="far fa-times-circle"></i>
      Window Wiping
    </li>
  </ul>
  <app-button *ngIf="buttonType=='main'"
    [defaultBackgroundColor]="'#E81C2E'" [animatedBackgroundColor]="'#202C45'"
    [defaultTextColor]="'#FFFFFF'" [animatedTextColor]="'#E81C2E'"
  >
    Learn More
  </app-button>
  <app-button *ngIf="buttonType=='secondary'"
    [defaultBackgroundColor]="'#202C45'" [animatedBackgroundColor]="'#E81C2E'"
    [defaultTextColor]="'#E81C2E'" [animatedTextColor]="'#FFFFFF'"
  >
    Learn More
  </app-button>

</div>
