@media screen and (max-width: 1399px) {
  .article-wrapper {
    width: 92%;
    .content {
      width: 65%;
    }
    .widgets {
      width: 35%;
    }
  }
}

@media screen and (max-width: 991px) {
  .article-wrapper {
    flex-wrap: wrap;
    width: 96%;
    .content {
      width: 90%;

    }
    .widgets {
      width: 80%;
    }
  }
}
