<h2>3 Comments</h2>
<div class="comments">
  <div class="comment">
      <img src="assets/img/user.jpg" alt="">
      <div class="comment-body">
        <div class="meta-data">
          <h3>
            <a href="">John Dunn</a>
          </h3>
          <p>01 Jan 2045 at 12:00pm</p>
        </div>
        <div class="comment-text">
          Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien,
          non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo.
          In hac platea dictumst.
        </div>
        <a class="reply-button">
          Reply
        </a>
      </div>
  </div>
  <div class="comment">
    <img src="assets/img/user.jpg" alt="">
    <div class="comment-body">
      <div class="meta-data">
        <h3>
          <a href="">John Dunn</a>
        </h3>
        <p>01 Jan 2045 at 12:00pm</p>
      </div>
      <div class="comment-text">
        Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien,
        non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo.
        In hac platea dictumst.
      </div>
      <a class="reply-button">
        Reply
      </a>
    </div>
  </div>
  <div class="replies">
    <div class="comment">
      <img src="assets/img/user.jpg" alt="">
      <div class="comment-body">
        <div class="meta-data">
          <h3>
            <a href="">John Dunn</a>
          </h3>
          <p>01 Jan 2045 at 12:00pm</p>
        </div>
        <div class="comment-text">
          Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien,
          non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo.
          In hac platea dictumst.
        </div>
        <a class="reply-button">
          Reply
        </a>
      </div>
    </div>
  </div>

</div>
