.navbar {
    background-color: #202C45;
    color: white;
    padding: 0;
    
    .container-fluid {
        padding: 20px 0;
        justify-content: space-around;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    margin-right: 15px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #E81C2E;
}

.custom-button {
    background-color: #FFFFFF;
    padding: 12px 30px;
    border-radius: 25px;
    margin-right: 195px;
    transition: color ease-in 0.15s, background-color ease-in 0.15s;
    border: none;
}

.custom-button:hover {
    background-color: #E81C2E;
    color: #FFFFFF;
}

.navbar-nav {
    margin-left: 160px;
}

.dropdown-menu{
    border-radius: 0;
    margin-top: 10px;
}

button.navbar-toggler {
    margin-left: 55%;
}

@media screen and (max-width: 1399px) {
    .custom-button {
        margin-right: 100px;
    }

    .navbar-nav {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1199px) {
    .navbar-nav {
        margin-left: 0px;
    }    

    .custom-button {
        margin-right: 50px;
    }

    .navbar-collapse {
        margin-left: 50px;
    }
    
}