<div class="card">
  <div class="img-box">
    <img [src]="'assets/img/' + imgLink + '.jpg'" alt="">
  </div>
  <div class="description">
    <div class="social-media-buttons">
      <a href="{{ socialMediaLinks.twitter }}">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="{{ socialMediaLinks.facebook }}">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="{{ socialMediaLinks.linkedin }}">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="{{ socialMediaLinks.instagram }}">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <h2>{{ name }}</h2>
    <p>{{ job }}</p>
  </div>
</div>
