.card {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;

  .img-box {
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    img {
      width: 100%;
      transition: transform 0.3s ease;
    }
  }

  .description {
    background-color: #202C45;
    border-radius: 0 0 5px 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
    position: relative;

    h2 {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 10px;
    }

    .social-media-buttons {
      display: flex;
      justify-content: center;
      left: 50%;
      position: absolute;
      top: -20px;
      transform: translateX(-50%);

      > * {
        background-color: #202C45;
        border-radius: 100%;
        color: white;
        height: 40px;
        margin-right: 5px;
        padding: 10px;
        width: 40px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          color: #202C45;
        }

      }
    }
  }
    &:hover {
      .img-box {

        img {
          transform: scale(1.1);
        }
      }
      .description {
        background-color: #E81C2E;
        transition: background-color 0.3s ease;
        .social-media-buttons {
          > * {
            background-color: #E81C2E;


          }
        }
      }
    }





}
