h2 {
  color: #202C45;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;

  &::after {
    content: " ";
    border: 1px solid #E81C2E;
    display: block;
    width: 60px;
    margin-top: 3px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-right: 10px;
    margin-bottom: 23px;
  }
}
