<section>
  <app-milestone-counter
    [icon]="'fa fa-map-marker-alt'"
    [digit]="25"
    [text]="'Service Points'"
  ></app-milestone-counter>
  <app-milestone-counter
    [icon]="'fa fa-user'"
    [digit]="350"
    [text]="'Engineers & Workers'"
  ></app-milestone-counter>
  <app-milestone-counter
    [icon]="'fa fa-users'"
    [digit]="1500"
    [text]="'Happy Clients'"
  ></app-milestone-counter>
  <app-milestone-counter
    [icon]="'fa fa-check'"
    [digit]="5000"
    [text]="'Projects Completed'"
  ></app-milestone-counter>
</section>
