@media screen and (max-width: 1399px) {
  section {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  section {
    app-milestone-counter {
      width: 40%;
    }
  }
}

@media screen and (max-width: 767px) {
  section {
    height: fit-content;
    padding: 20px 0;
    app-milestone-counter {
      width: 90%;
      margin: 25px 0;
    }
  }
}
