<div class="top-band">
  <div class="logo">
    <a href="#">
      <h1>Auto <span>Wash</span> </h1>
    </a>
  </div>
  <div class="info">
    <div class="box">
      <div class="icon">
        <i class="far fa-clock"></i>
      </div>
      <div class="data">
        <div>Opening Hour</div>
        <div>Mon - Fri, 8:00 - 9:00</div>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-phone-alt"></i>
      </div>
      <div class="data">
        <div>Call Us</div>
        <div>+012 345 6789</div>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <i class="far fa-envelope"></i>
      </div>
      <div class="data">
        <div>Email Us</div>
        <div>info@example.com</div>
      </div>
    </div>
  </div>
</div>
