



.top-band {
  display: flex;
  height: 90px;
  justify-content: space-around;


  a {
    color: #E81C2E;
    letter-spacing: 0.5px;
    text-decoration: none;
    outline: none;

    h1 {
      font-size: 50px;
      font-style: italic;
      font-weight: 800;
      margin: 10px 0 10px;
      span {
        color: #202C45;
        margin-left: -12px;
      }
    }
  }

  .info {
    align-items: center;
    display: flex;


    .box {
      display: flex;
      margin: 0 20px;
      align-items: center;
      & > div:first-child {
        flex-grow: 1;
        align-items: center;
        background-color: #202C45;
        border-radius: 100%;
        color: #FFFFFF;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;
      }

      .data {
        margin: 0 15px;
        & > div:first-child {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        & > div:nth-child(2) {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .top-band {
    .info {
      display: none;
    }
  }
}