@media screen and (max-width: 1199px) {
  section {
    margin: 0;
    owl-carousel-o {
      margin: 30px 0;
      width: 90%;
    }
  }
}

@media screen and (max-width: 767px) {
  section {
    margin-top: -20px;
    owl-carousel-o {
      margin: 10px 0;
      width: 80%;
    }
  }
}
