<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide class="owl-carousel-slide">
    <div>
      <img src="assets/img/testimonial-1.jpg" alt="">
      <div>
        <h3>Client Name</h3>
        <h4>Profession</h4>
        <p>Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide class="owl-carousel-slide">
    <div>
      <img src="assets/img/testimonial-1.jpg" alt="">
      <div>
        <h3>Client Name</h3>
        <h4>Profession</h4>
        <p>Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide class="owl-carousel-slide">
    <div>
      <img src="assets/img/testimonial-1.jpg" alt="">
      <div>
        <h3>Client Name</h3>
        <h4>Profession</h4>
        <p>Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide class="owl-carousel-slide">
    <div>
      <img src="assets/img/testimonial-1.jpg" alt="">
      <div>
        <h3>Client Name</h3>
        <h4>Profession</h4>
        <p>Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid</p>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
