/* You can add global styles to this file, and also import other style files */

@import url(assets/flaticon.css);
body {
  font-family: Roboto;
  margin: 0;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 75px;
  margin-left: 0;
}

i {
  &.gradiant {
  background: linear-gradient(0deg, rgba(32,44,69,1) 0%, rgba(232,28,46,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}

body::-webkit-scrollbar {
  display: none;
}

// Owl Carousel Style

.testemonials-carousel {
  .owl-carousel {
    .owl-item{
      display: flex;
      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
      }
      .ng-star-inserted:last-child{
        margin: 0 28px 0 15px;
        h3 {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 1px;
          margin-bottom: 5px;
          color: #202C45;
        }
        h4 {
          color: #777777;
          font-size: 15px;
          font-weight: 400;
          font-style: italic;
        }
        p {
          font-weight: 400;
          color: #444444;
          font-size: 16px;

          &::before {
            content: "\f10d";
            font-family: "Font Awesome 5 Free";
            color: #E81C2E;
            font-size: 25px;
            font-weight: 900;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .owl-theme {
    .owl-dots {
      .owl-dot {
        &.active {
          // if active color applies to the span
          span {
            background-color: #E81C2E;
          }
        }
        span {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}



.related-post-carousel {
  .owl-carousel {
    margin: 50px 0;
    .owl-item{
      display: flex;
      img {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        margin-right: 10px;
      }

      .slide-text {

        > :first-child {
          font-size: 17px;
          font-weight: 500;
          color: #202C45;
          display: block;
          margin-bottom: 3px;
          transition: 0.3s;

          &:hover {
            color: #E81C2E;
          }
        }

        :last-child {
          font-size: 14px;
          font-weight: 400;
          color: #444444;
          font-style: italic;
          a {
            margin: 0 1px;
            font-size: 14px;
            color: #777777;
            transition: 0.3s;
            font-style: normal;

            &:hover {
              color: #E81C2E;
            }
          }
        }

        a {
          text-decoration: none;
        }
      }

    }
  }

  .owl-theme {
    margin-top: 50px;
    .owl-nav {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 50px;
      top: -70px;

    .owl-prev,
    .owl-next {
        background-color: #202C45;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        transition: 0.3s;

        &:hover {
         background-color: #E81C2E;
        }
      }
    }
  }
}
