/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

img,
h1,
h2,
h3,
h4,
h5,
p,
button{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

