/* You can add global styles to this file, and also import other style files */

@import url(assets/flaticon.css);
body {
  font-family: Roboto;
  margin: 0;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 75px;

}

i {
  background: linear-gradient(0deg, rgba(32,44,69,1) 0%, rgba(232,28,46,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body::-webkit-scrollbar {
  display: none;
}

img,
h1,
h2,
h3,
h4,
h5,
p,
button{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

