@media screen and (max-width: 1199px) {
    .grid-container {
      width: 100%;
      .grid-item {
        i{
          font-size: 75px;
        }
        h3 {
          margin: 8px 0;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
}

@media screen and (max-width: 991px) {
  .grid-container {
    grid-template: repeat(4, 200px) / repeat(2, 70%);
    justify-content: center;
    margin: 10px 0;
    width: 70%;
    .grid-item {
      margin: 0;
      width: 80%;

      h3 {
        margin: 5px 0;
        font-size: 20px;
        font-weight: 600;
      }
  p {
    margin-bottom: 0;
  }
    }

  }
}


@media screen and (max-width: 767px) {
  .grid-container {
    grid-template: repeat(8, 230px) / repeat(1, 100%);
    justify-content: center;
    margin: 10px 0;

  }
}

