

.grid-container {
  width: 80%;
  display: grid;
  grid-template: repeat(2, 250px) / repeat(4, 23%);
  justify-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 30px 0;
  column-gap: 1%;
  .grid-item {
    i{
      font-size: 75px;
    }
    h3 {
      margin: 10px 0;
      font-size: 25px;
      font-weight: 700;
    }
  }
}

