<main>
    <app-top-info-band></app-top-info-band>
    <app-nav-bar></app-nav-bar>
    <div class="carousel-box">
        <div class="control left-arrow">
            <i class="fas fa-angle-left"></i>
        </div>
        <div class="slides">
            <div class="slide">
                <img src="assets/img/carousel-1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/img/carousel-2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets/img/carousel-3.jpg" alt="">
            </div>
        </div>

        <div class="control right-arrow">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>
</main>