main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.carousel-box {
    align-self: center;
    position: relative;
    width: 80%;
    .slides {
        align-self: center;
        overflow-x: hidden;
        white-space: nowrap;
        width: 100%;
        
        .slide {
            display: inline-block;
            height: 70%;
            object-fit: cover;
            width: 100%;
        }
    }

    .control {
        background-color: rgb(0, 0, 0, 0.3);
        border-radius: 50%;
        color: #FFF;
        cursor: pointer;
        font-size: 25px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color ease-in 0.2s;
        width: 50px;
        z-index: 1;

        &:hover {
            background-color: #E81C2E;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .fa-angle-left {
            right: 20px;
        }

        .fa-angle-right {
            left: 20px;
        }
    }

    .right-arrow {
        right: 10px;
    }

    .left-arrow {
        left: 10px;
    }
}

.slide:first-child {
    position: relative;
    left: -200px;
}

.slide:nth-child(2) {
    position: relative;
    left: -200px;
}