<main>
    <app-top-info-band></app-top-info-band>
    <app-nav-bar></app-nav-bar>
    <carousel></carousel>
    <app-about-us-section></app-about-us-section>
    <app-what-we-do-section></app-what-we-do-section>
    <app-milestones-section></app-milestones-section>
    <app-washing-plans></app-washing-plans>
    <app-car-washing-points-section></app-car-washing-points-section>
    <app-meet-our-team-section></app-meet-our-team-section>
    <app-testemonial-carousel></app-testemonial-carousel>
    <app-our-blog-section></app-our-blog-section>
</main>
