<main>
    <app-top-info-band></app-top-info-band>
    <app-nav-bar></app-nav-bar>
    <carousel></carousel>
    <section class="about">
        <img src="assets/img/about.jpg" alt="">
        <div class="content">
            <p><span>Abou</span>t Us</p>
            <h2>car washing and detailing</h2>
            <p class="text">
                Lorem ipsum dolor sit amet elit. 
                In vitae turpis. Donec in hendre dui, 
                vel blandit massa. Ut vestibu suscipi cursus. 
                Cras quis porta nulla, ut placerat risus. 
                Aliquam nec magna eget velit luctus dictum
            </p>
            <ul>
                <li>Seats washing</li>
                <li>Vacuum cleaning</li>
                <li>Interior wet cleaning</li>
                <li>Window wiping</li>
            </ul>
            <button class="custom-button" type="submit">Explore More</button>
        </div>
    </section>
</main>