@media screen and (max-width: 1199px) {
  .staff-cards {
    > * {
      width: 22%;
      margin-right: 25px;
    }
  }
}
@media screen and (max-width: 991px) {
  .staff-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    > * {
      width: 40%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  .staff-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    > * {
      width: 80%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

